	
 {% load staticfiles %}      
<script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/scrolltopcontrol.js' %}"></script><!-- Scroll to top javascript -->
<script src="{% static 'js/custom/scriptBase.js' %}"></script>
<script src="{% static 'js/custom/scriptIncubacion.js' %}"></script>

<!--mostrar lista de mensajes -->

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

